# golf通用配置模板
upstream auth-server {
server 127.0.0.1:9999;
# health check
check interval=5000 rise=2 fall=3 timeout=1000 type=http;
check_http_send "GET /uaa/actuator/health HTTP/1.0\r\n\r\n";
check_http_expect_alive http_2xx http_3xx;
keepalive 16;
}

upstream edge-server {
server 127.0.0.1:8080;
check interval=5000 rise=2 fall=3 timeout=1000 type=http;
check_http_send "GET /actuator/health HTTP/1.0\r\n\r\n";
check_http_expect_alive http_2xx http_3xx;
keepalive 16;
}

server {
	listen 7777;
	#include bots.d/blockbots.conf;
	#include bots.d/ddos.conf;
	#配置认证服务后台
	location /uaa {
		include conf.d/http.proxy;
		proxy_set_header    Connection "";
		proxy_pass http://auth-server;
	}
	#配置边界服务后台
	location / {
		proxy_connect_timeout    600;
		proxy_read_timeout       600;
		proxy_send_timeout       600;
		#include ../naxsi/naxsi.rules;
		#include conf.d/white.rules; 
		include conf.d/http.proxy;
		proxy_pass http://edge-server;
	}

	location /index {
		alias  /static/drugstoreVue;
		index index.html;
	}

	location /framework/{
		alias  /static/webroot/;
	}
	location /framework/download/{
		alias  /static/download/;
	}
	
	location /deny {
		alias html/error/HTTP403.html;
	}

	location /template {
	  alias /static/xlsx/;       # 文件存放目录要以 '/' 结尾；
	  index index.html;      
	  autoindex on;               # 自动列出目录下的文件；
	  autoindex_exact_size off;   # 文件大小按 G、M 的格式显示；
	}	

	#提单同步订单接口
    location /public/syncorder {
                include conf.d/http.proxy;
                proxy_pass http://127.0.0.1:8200/public/syncorder;
                add_header Cache-Control no-cache;
                add_header Pragma no-cache;
                add_header Expires 0;
    }
	#提单同步库存接口
	location /public/syncstock {
                include conf.d/http.proxy;
                proxy_pass http://127.0.0.1:8200/public/syncstock;
                add_header Cache-Control no-cache;
                add_header Pragma no-cache;
                add_header Expires 0;
    }
}

server {
	listen       7778;
	location /index {
		alias   /static/systemVue/;
		index  index.html;
	}
	location / {
		proxy_connect_timeout    600;
		proxy_read_timeout       600;
		proxy_send_timeout       600;
		#include ../naxsi/naxsi.rules;
		#include conf.d/white.rules;
		include conf.d/http.proxy;
		proxy_pass http://edge-server;
	}
}