# golf通用配置模板
upstream ehrss-auth-server {
server 127.0.0.1:9999;
# health check
check interval=5000 rise=2 fall=3 timeout=1000 type=http;
check_http_send "GET /uaa/actuator/health HTTP/1.0\r\n\r\n";
check_http_expect_alive http_2xx http_3xx;
keepalive 16;
}

upstream ehrss-edge-server {
server 127.0.0.1:8080;
check interval=5000 rise=2 fall=3 timeout=1000 type=http;
check_http_send "GET /actuator/health HTTP/1.0\r\n\r\n";
check_http_expect_alive http_2xx http_3xx;
keepalive 16;
}


server {
	listen 8081;

	#配置认证服务后台
	location /uaa {
		include conf.d/http.proxy;
		proxy_pass http://ehrss-auth-server;
		add_header Cache-Control no-cache;
		add_header Pragma no-cache;
		add_header Expires 0;
	}

	#配置边界服务后台
	location / {
		include conf.d/http.proxy;
		proxy_pass http://ehrss-edge-server;
	}

	#配置认证服务个人登陆页面
	location /personlogin  {
        	alias /static/auth/ui/;
        	index index.html;
		access_log    off;
    	}
	
	#配置认证服务ca登陆页面
        location /calogin  {
                alias /static/auth/ui/;
                index index.html;
                access_log    off;
        }

	#配置认证服务企业登陆页面
    	location /enterpriselogin  {
        	alias /static/auth/ui/;
        	index index.html;
		access_log    off;
    	}

	#配置个人网厅UI页面
	location /ehrss/si/person/ui/ {
        	alias /static/person/ui/;
		access_log    off;
    	}

	#配置企业网厅UI页面
    	location /ehrss/si/enterprise/ui/ {
		alias /static/enterprise/ui/;
		access_log    off;
    	}

	#配置手机边界
	location /mobile {
		proxy_pass http://mobile-edge;
	}	
	
	#配置手机h5页面
    	location /wechat/ {
        	alias /static/wechat/html/;
		access_log    off;
    	}
	location /deny {
                alias html/error/HTTP403.html;
        }
}
