# 核心平台配置
# 认证服务
upstream hxpt-auth {
server 127.0.0.1:29999;
# health check
check interval=5000 rise=2 fall=3 timeout=1000 type=http;
check_http_send "GET /uaa/actuator/health HTTP/1.0\r\n\r\n";
check_http_expect_alive http_2xx http_3xx;
keepalive 16;
}

# zuul边界服务
upstream hxpt-zuul {
server 127.0.0.1:28080;
check interval=5000 rise=2 fall=3 timeout=1000 type=http;
check_http_send "GET /actuator/health HTTP/1.0\r\n\r\n";
check_http_expect_alive http_2xx http_3xx;
keepalive 16;
}

# ucadmin服务
upstream hxpt-uc {
server 127.0.0.1:9090;
check interval=5000 rise=2 fall=3 timeout=1000 type=http;
check_http_send "GET /ucadmin/actuator/health HTTP/1.0\r\n\r\n";
check_http_expect_alive http_2xx http_3xx;
keepalive 16;
}

server {
	listen 8082;
	#include bots.d/blockbots.conf;
	#include bots.d/ddos.conf;
	#配置认证服务后台
	location /uaa {
		include conf.d/http.proxy;
		proxy_set_header    Connection "";
		proxy_pass http://hxpt-auth;
	}

	#配置边界服务后台
	location / {
		proxy_set_header    Connection "";
		include conf.d/http.proxy;
		proxy_pass http://hxpt-zuul;
	}
	
	location /portallogin {
		alias /opt/nginx/static/portallogin/;
		access_log off;
		if (!-f $request_filename) {
			return 404;
		}
	}

	location /portalmain {
		alias /opt/nginx/static/portalui;
		access_log off;
	}
    
    	# 业务前台
	location /sicp4-ui/ {
		alias /opt/nginx/static/sicp4-ui/;
		access_log off;
		if (!-f $request_filename) {
			return 404;
		}
	}
    
	location /deny {
		alias html/error/HTTP403.html;
	}

}
server {
        
	listen 8083;
	location / {
		alias /opt/nginx/static/neu-ng-ucadmin-ui/;
		index  index.html;
		access_log off;
	}
        
	location /uaa {
		proxy_pass http://hxpt-auth;
		include conf.d/http.proxy;
	}
        
	location /ucadmin {
		proxy_pass http://hxpt-uc;
		include conf.d/http.proxy;
	}
}
